[Unit]
Description=Thumbor service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill thumbor
ExecStartPre=-/usr/bin/docker rm thumbor
ExecStart=/usr/bin/docker run --name thumbor \
                              -e "STORAGE=tc_redis.storages.redis_storage" \
                              -e "REDIS_STORAGE_SERVER_HOST=test2.qxmshq.0001.use1.cache.amazonaws.com" \
                              -e "REDIS_STORAGE_SERVER_DB=10" \
                              -e "RESULT_STORAGE_STORES_UNSAFE=True" \
                              -e "RESULT_STORAGE=tc_aws.result_storages.s3_storage" \
                              -e "AWS_ACCESS_KEY_ID=<>" \
                              -e "AWS_SECRET_ACCESS_KEY=<>" \
                              -e "TC_AWS_REGION=us-east-1" \
                              -e "TC_AWS_RESULT_STORAGE_BUCKET=devternity-test1" \
                              -e "TC_AWS_RESULT_STORAGE_ROOT_PATH=thumbor" \
                              -e "TC_AWS_STORAGE_RRS=True" \
                              --publish=80:8000 apsl/thumbor
ExecStop=/usr/bin/docker stop thumbor
