[Unit]
Description=Thumbor service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill thumbor
ExecStartPre=-/usr/bin/docker rm thumbor
ExecStart=/usr/bin/docker run --name thumbor --publish=80:8000 apsl/thumbor
ExecStop=/usr/bin/docker stop thumbor
